#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

#head {
    text-align: center;
}

form {
    text-align: center;
    margin: 0 auto; 
    width:250px;
}

.Button {
   /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
}

.column {
    float: left;
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
